.navbarContainer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(24, 143, 149);
}

.navbarLeftContainer{
    padding: 1.5rem;
}

.navbarRightContainer{
    display: flex;
    gap: 4rem;
    padding: 1.5rem;
    font-size: larger;
    font-weight: bold;
    color: white;
}